[LastFM]
client-version=0.1
client-id=gmm
client-banned=false
session=

[player]
repeat-mode=2
play-from-queue=false
crossfade=false
replay-gain=0
crossfade-duration=5000
shuffle=false

[export]
encoding=0
character-filter="'\\#~!\"$&();<>|`^*?[]/.:"
format-template=%N %T
lowercase=false
id3v1-encoding=2
underscore=false
lowercase-extension=true

[podcast]
update-interval=0

[application]
minor-version=2
level-version=5
major-version=1

[colors]
row-color=Gray15
source-select-color=#d2e6d2
playtext-color=#e0dfdc
menu-base-color=#201f1f
play-color=#188049
source-selecttext-color=Black
tray-back-color=#302f2f

[SETTINGS]
normalfont=Monocraft,120,bold,regular,medium,iso10646-1,2049
shadowcolor=#201f1f
selmenubackcolor=#184880
bordercolor=Black
selbackcolor=#184880
basecolor=#302f2f
hilitecolor=#747474
selforecolor=Gray100
backcolor=#201f1f
selmenutextcolor=Gray100
tipforecolor=#c4d1e0
tipbackcolor=#103050
forecolor=#e0dfdc

[database_filter_1]
browse-columnwidth-artist=400
browse-showcolumn-conductor=false
browse-showcolumn-path=false
browse-columnwidth-conductor=400
browse-columnindex-play count=10
artist-list-selection=0;
browse-columnwidth-rating=30
browse-showcolumn-title=true
browse-showcolumn-no=true
browse-columnindex-no=0
browse-columnindex-queue=1
browser=true
browse-columnindex-path=12
track-list-posy=0
browse-columnwidth-queue=60
browse-columnwidth-time=60
browse-showcolumn-artist=true
filter-text=
browse-columnindex-album=5
genre-list=false
browse-columnwidth-path=400
browse-showcolumn-queue=false
browse-columnindex-rating=17
browse-showcolumn-play date=false
browse-sort-reverse=false
genre-list-sort-reverse=false
browse-showcolumn-album=false
browse-columnwidth-no=43
browse-showcolumn-year=false
browse-columnindex-disc=6
browse-columnindex-album artist=4
track-list-posx=0
browse-showcolumn-file type=false
browse-columnwidth-play count=60
browse-showcolumn-disc=false
browse-sort-seed=1594749092
genre-list-selection=0;
browse-columnwidth-album artist=200
browse-columnwidth-album=200
browse-columnindex-year=8
album-list-show-year=true
browse-showcolumn-composer=false
browse-showcolumn-play count=false
browse-columnwidth-disc=43
browse-columnindex-format=14
browse-columnindex-composer=15
browse-columnindex-file type=13
album-list-selection=10;
genre-artist-split=5000
browse-showcolumn-time=true
browse-columnwidth-title=360
browse-columnwidth-file type=30
browse-columnindex-artist=3
browse-showcolumn-rating=false
browse-columnwidth-year=60
browse-sort-column=2
browse-columnindex-conductor=16
album-list-browser=false
album-list-sort-by-year=false
browse-showcolumn-album artist=false
browse-columnindex-play date=11
browse-columnwidth-play date=60
album-list-sort-reverse=false
artist-list-sort-reverse=false
browse-columnwidth-format=400
browse-columnwidth-composer=30
browse-columnindex-title=2
filter-mask=7
browse-columnindex-time=9
filter=true
browser-track-split=5000
browse-showcolumn-format=false
artist-album-split=3333

[user-interface]
icon-theme=elementary

[file-system]
list-sort-column=17
album-list-show-year=true
album-list-browser=false
album-list-sort-by-year=false
list-columnwidth-path=600
genre-list-sort-reverse=false
list-showcolumn-path=true
album-list-sort-reverse=false
list-sort-reverse=false
browser=false
track-list-posx=0
list-columnindex-path=0
track-list-posy=0
genre-artist-split=5000
path=/home/notvarad
filter=false
browser-track-split=5000
filter-text=
artist-list-sort-reverse=false
list-sort-seed=675163642
artist-album-split=3333
filter-mask=7
genre-list=false

[import]
exclude-folder=
parse-method=2
playback-only=false
album-format-grouping=true
track-from-filelist=false
exclude-file=
detect-compilation=false
filename-template=%P/%A/%N %T
fetch-lyrics=false
replace-underscores=true

[internet-radio]
album-list-show-year=true
list-sort-column=4
list-columnwidth-bit rate=80
list-columnindex-no=0
list-columnwidth-station=200
list-showcolumn-genre=true
browser=false
list-columnindex-genre=3
list-columnwidth-genre=150
track-list-posy=0
genre-artist-split=5000
list-showcolumn-bit rate=true
filter-text=
genre-list=false
list-columnindex-bit rate=2
list-columnindex-station=1
list-showcolumn-no=true
album-list-browser=false
genre-list-sort-reverse=false
list-sort-seed=3021204681
album-list-sort-reverse=false
artist-list-sort-reverse=false
track-list-posx=0
list-columnwidth-no=60
list-sort-reverse=false
album-list-sort-by-year=false
filter=false
browser-track-split=5000
list-showcolumn-station=true
filter-mask=7
artist-album-split=3333

[database]
browse-columnwidth-artist=400
browse-showcolumn-conductor=false
browse-showcolumn-path=false
browse-columnwidth-conductor=400
browse-columnindex-play count=10
artist-list-selection=0;
browse-columnwidth-rating=30
browse-showcolumn-title=true
browse-showcolumn-no=true
browse-columnindex-no=0
browse-columnindex-queue=1
browser=true
browse-columnindex-path=12
track-list-posy=0
browse-columnwidth-queue=60
browse-columnwidth-time=60
browse-showcolumn-artist=true
filter-text=
browse-columnindex-album=5
genre-list=false
browse-columnwidth-path=400
browse-showcolumn-queue=false
browse-columnindex-rating=17
browse-showcolumn-play date=false
browse-sort-reverse=false
genre-list-sort-reverse=false
browse-showcolumn-album=false
browse-columnwidth-no=43
browse-showcolumn-year=false
browse-columnindex-disc=6
browse-columnindex-album artist=4
track-list-posx=0
browse-showcolumn-file type=false
browse-columnwidth-play count=60
browse-showcolumn-disc=false
browse-sort-seed=1603251266
genre-list-selection=0;
browse-columnwidth-album artist=200
browse-columnwidth-album=200
browse-columnindex-year=8
album-list-show-year=true
browse-showcolumn-composer=false
browse-showcolumn-play count=false
browse-columnwidth-disc=43
browse-columnindex-format=14
browse-columnindex-composer=15
browse-columnindex-file type=13
album-list-selection=0;
genre-artist-split=5000
browse-showcolumn-time=true
browse-columnwidth-title=360
browse-columnwidth-file type=30
browse-columnindex-artist=3
browse-showcolumn-rating=false
browse-columnwidth-year=60
browse-sort-column=2
browse-columnindex-conductor=16
album-list-browser=false
album-list-sort-by-year=false
browse-showcolumn-album artist=false
browse-columnindex-play date=11
browse-columnwidth-play date=60
album-list-sort-reverse=false
artist-list-sort-reverse=false
browse-columnwidth-format=400
browse-columnwidth-composer=30
browse-columnindex-title=2
filter-mask=7
browse-columnindex-time=9
filter=true
browser-track-split=5000
browse-showcolumn-format=false
artist-album-split=3333

[sync]
remove-missing=false
update-always=false
import-new=true
update=false

[dbus]
notification-daemon=true
mpris=true

[directories]
last-import-dirs=/home/notvarad/Music

[window]
browser-icons=true
source-list-sort-reverse=false
height=998
show-opengl-coverview=true
x=611
show-statusbar=true
toolbar-docktop=true
toolbar-labels=true
toolbar-bigicons=true
source-list-vsplit=5000
track-list-current=-1
sort-keywords=a;an;the
show-playing-albumcover=true
toolbar-labels-above=true
show-playing-titlebar=false
width=1888
tray-icon=false
source-list-current=database_filter_1
window-show=true
hide-player-when-close=false
cover-size=128
fullscreen=false
maximized=false
source-list-hsplit=2500
remote=false
y=251
source-list=true
show-playing-lyrics=true
title-format=%P - %T

