[Unit]
Description=cliphist clipboard history daemon

[Service]
ExecStart=/usr/bin/wl-paste --watch /usr/bin/cliphist store
Restart=on-failure

[Install]
WantedBy=default.target
